#
# checkpatch suppression list for net/rds
#
# see Documentation/dev-tools/run-checkpatch.rst
#

# Accept somewhat longer lines:
line_len 110

# Important to fix from a quality perspective:
#
except AVOID_BUG connection.c ib.c ib_cm.c ib_rdma.c ib_recv.c ib_ring.c ib_send.c info.c loop.c message.c
except AVOID_BUG rdma.c recv.c send.c stats.c tcp_recv.c transport.c
except MEMORY_BARRIER ib_recv.c send.c tcp_send.c
except WAITQUEUE_ACTIVE cong.c ib_rdma.c ib_ring.c ib_send.c
except UNNECESSARY_ELSE bind.c ib_cm.c
except MACRO_ARG_PRECEDENCE connection.c ib.h rds.h
except MACRO_ARG_REUSE rds.h
except ALLOC_SIZEOF_STRUCT cong.c ib.c ib_cm.c loop.c message.c rdma.c
except UNCOMMENTED_DEFINITION ib_cm.c

# Code simplification:
#
except ALLOC_WITH_MULTIPLY ib.c
except PREFER_PR_LEVEL ib_cm.c ib_recv.c ib_send.c rdma_transport.c threads.c transport.c
except UNNECESSARY_ELSE ib_fmr.c
except UNNECESSARY_PARENTHESES ib_rdma.c rdma.c recv.c send.c
except PRINTK_RATELIMITED ib_frmr.c
except EMBEDDED_FUNCTION_NAME ib_rdma.c

# Style and readability:
#
except BRACES ib_cm.c ib_rdma.c ib_recv.c send.c transport.c
except OOM_MESSAGE ib.c tcp.c
except LONG_LINE_STRING ib.c ib_recv.c ib_send.c
except FUNCTION_ARGUMENTS ib.h ib_mr.h rds.h tcp.h

# Candidates to leave as exceptions (don't fix):
except MULTIPLE_ASSIGNMENTS ib_send.c
except LONG_LINE_STRING connection.c
except OPEN_BRACE connection.c

# These are in most of the source files, ignore for all files:
#
pervasive NETWORKING_BLOCK_COMMENT_STYLE BLOCK_COMMENT_STYLE

# These are easily autocorrected by checkpatch with --fix-inplace:
# Just ignore here - fixed in a separate commit:
#
pervasive SPLIT_STRING
pervasive LINE_SPACING SPACING SPACE_BEFORE_TAB
pervasive PREFER_KERNEL_TYPES

# These were easy to fix manually while getting run-checkpatch to pass.
# Fixed in a separate commit:
#
pervasive SUSPECT_CODE_INDENT PARENTHESIS_ALIGNMENT BRACES PRINTF_L COMPARISON_TO_NULL
pervasive LOGICAL_CONTINUATIONS
